html,
body {
    margin: 0;
    height: 100vh;
}

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    background-image: url("../images/greybird.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

* {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.61);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid rgb(84, 120, 189);
}

.display {
    display: flex;
    justify-content: flex-end;
    font-size: 38px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    border: 1px solid purple;
    background: gainsboro;
}

.calculator button {
    width: 70px;
    height: 70px;
    margin: 2px;
    font-size: 24px;
    cursor: pointer;
}

.row button img {
    height: 24px;
}

.keypad {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    border-top: 2px solid rgba(114, 113, 113, 0.562);
}

.keypadLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.keypadRight {
    display: flex;
    flex-direction: column;
}

.keypadRight button {
    flex-grow: 1;
}

#standard {
    flex-grow: 0;
}